<div class="overlay"></div>

<div class="hero-section d-flex">
  <div class="container content">
    <div class="hero-text #abc ">
      <h1>Bienvenido a tu Dashboard de Viajes</h1>
      <p>Explora el mundo y registra todos los países que has visitado. Mantén tus recuerdos y aventuras organizados en un solo lugar.</p>
      <button (click)="onNavigateCountries()" class="btn btn-primary cta-button">Descubre Más</button>
    </div>
  </div>
</div>

<div id="features" class="features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-globe feature-icon"></i>
          <h3>Mapa Interactivo</h3>
          <p>Visualiza todos los lugares que has visitado en un mapa interactivo con chinchetas rojas.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-book-open feature-icon"></i>
          <h3>Registro Detallado</h3>
          <p>Mantén un registro detallado de tus viajes.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature">
          <i class="fas fa-share-alt feature-icon"></i>
          <h3>Comparte tus Aventuras</h3>
          <p>Comparte tus viajes y experiencias con amigos y familia fácilmente.</p>
        </div>
      </div>
    </div>
  </div>
</div>
