.nav-link, .dropdown-item {
  cursor: pointer;
}


@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 18px;
  }
  .nav-link {
    font-size: 16px;
  }
}


